<div class="tags are-medium">
  <span 
    [ngClass]="{'is-primary': formState | validation: [valueMoreThen, 'income', 0] : [valueMoreThen, 'age', 17] }"
    class="tag is-large" id="current-account"
  >Current Account</span>
  <span 
    [ngClass]="{'is-primary': formState | validation: [valueMoreThen, 'income', 40000] : [valueMoreThen, 'age', 17] }"
    class="tag is-large" id="current-account-plus"
  >Current Account Plus</span>
  <span 
    [ngClass]="{'is-primary': formState | validation: [valueLessThen, 'age', 18] }"
    class="tag is-large" id="junior-saver-account"
  >Junior Saver Account</span>
  <span 
    [ngClass]="{'is-primary': (formState | validation: [valueMoreThen, 'age', 17]) && formState.student }"
    class="tag is-large" id="student-account"
  >Student Account</span>
  <span 
    [ngClass]="{'is-primary': formState | validation: [valueMoreThen, 'age', 64] }"
    class="tag is-large" id="senior-account"
  >Senior Account</span>
  <span 
    [ngClass]="{'is-primary': formState | validation: [valueLessThen, 'income', 12000] : [valueMoreThen, 'age', 17] }"
    class="tag is-large" id="debit-card"
  >Debit Card</span>
  <span 
    [ngClass]="{'is-primary': formState | validation: [valueMoreThen, 'income', 12000] : [valueMoreThen, 'age', 17] }"
    class="tag is-large" id="credit-card"
  >Credit Card</span>
  <span 
    [ngClass]="{'is-primary': formState | validation: [valueMoreThen, 'income', 40000] : [valueMoreThen, 'age', 17] }"
    class="tag is-large" id="gold-credit-card"
  >Gold Credit Card</span>
</div>