<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <app-user-settings 
          [form]="form"
          [inputSettings]="inputSettings"
        ></app-user-settings>
      </div>
      <div class="column">
        <app-products-preview [formState]="form.valueChanges | async">
        </app-products-preview>
      </div>
    </div>
  </div>
</div>
