<ng-container [ngSwitch]="inputSetting.type">

  <fieldset class="field" *ngSwitchCase="'select'">
    <legend class="label">{{ inputSetting.title }}</legend>
    <div class="select is-fullwidth">
      <select [formControl]="control" [id]="inputSetting.controlName">
        <option> {{ inputSetting.placeholder }}</option>
        <option *ngFor="let val of inputSetting.values" [value]="val.compareVal">
          {{ val.displayVal }}
        </option>
      </select>
    </div>
  </fieldset>

  <fieldset class="field" *ngSwitchCase="'radio'">
    <legend class="label">{{ inputSetting.title }}</legend>
    <div class="control">
      <div class="radio" *ngFor="let val of inputSetting.values">
        <label>
          <input 
            type="radio" 
            [name]="inputSetting.controlName" 
            [id]="inputSetting.controlName"
            [value]="val.compareVal"
            [formControl]="control"
          >
          {{ val.displayVal }}
        </label>
      </div>
    </div>
  </fieldset>

</ng-container>